# Leitura das Tabelas

In [1]:
# Importes 
import pandas as pd 
# Carregando a base de testes 
df1 = pd.read_excel('Excel_Produtos.xlsx', sheet_name=0,engine='openpyxl')
df2 = pd.read_excel('Excel_Produtos.xlsx', sheet_name=1,engine='openpyxl')

In [2]:
df1 = df1.head(10)
df1

     id                    Data  Produto  Preco
0   1.0 2021-01-16 17:23:44.120   Batata    2.0
1   2.0 2021-01-16 17:23:44.120  Cenoura    3.0
2   3.0 2021-01-16 17:23:44.120   Batata    2.0
3   4.0 2021-01-16 17:23:44.120  Cenoura    3.0
4   5.0 2021-01-16 17:23:44.120   Tomate    5.0
5   6.0 2021-01-16 17:23:44.120   Tomate    5.0
6   7.0 2021-01-16 17:23:44.120    Manga    4.0
7   8.0 2021-01-16 17:23:44.120    Manga    4.0
8   9.0 2021-01-16 17:23:44.120     Alho    2.5
9  10.0 2021-01-16 17:23:44.120     Alho    2.5

In [3]:
df2 = df2.head(10)
df2

     id                    Data   Produto  Preco
0   1.0 2021-01-16 17:23:44.120     Oleo    15.0
1   2.0 2021-01-16 17:23:44.120     Oleo    15.0
2   3.0 2021-01-16 17:23:44.120  Manteiga   12.0
3   4.0 2021-01-16 17:23:44.120  Manteiga   12.0
4   5.0 2021-01-16 17:23:44.120   Queijo     7.0
5   6.0 2021-01-16 17:23:44.120   Queijo     7.0
6   7.0 2021-01-16 17:23:44.120  Ketchup     6.0
7   8.0 2021-01-16 17:23:44.120  Ketchup     6.0
8   9.0 2021-01-16 17:23:44.120     Vinho   18.0
9  10.0 2021-01-16 17:23:44.120     Vinho   18.0

# Mesclagem dos dados

## A biblioteca Pandas em python fornece uma única função, merge, como o ponto de entrada para todas as operações de junção de banco de dados padrão entre objetos DataFrame

In [4]:
# Junção completa dos dois DataFrames com ordem dos índices.
pd.merge(df1, df2,
         how='outer',      # similar full-join no SQL / Unir completamente 
         left_index=False, # usa índice esquerdo como chave de junção 
         right_index=False,# usa índice direto como chave de junção 
         sort=True)        #ordem das chaves de junção obedecendo o índice

      id                    Data   Produto  Preco
0    1.0 2021-01-16 17:23:44.120    Batata    2.0
1    1.0 2021-01-16 17:23:44.120     Oleo    15.0
2    2.0 2021-01-16 17:23:44.120   Cenoura    3.0
3    2.0 2021-01-16 17:23:44.120     Oleo    15.0
4    3.0 2021-01-16 17:23:44.120    Batata    2.0
5    3.0 2021-01-16 17:23:44.120  Manteiga   12.0
6    4.0 2021-01-16 17:23:44.120   Cenoura    3.0
7    4.0 2021-01-16 17:23:44.120  Manteiga   12.0
8    5.0 2021-01-16 17:23:44.120   Queijo     7.0
9    5.0 2021-01-16 17:23:44.120    Tomate    5.0
10   6.0 2021-01-16 17:23:44.120   Queijo     7.0
11   6.0 2021-01-16 17:23:44.120    Tomate    5.0
12   7.0 2021-01-16 17:23:44.120  Ketchup     6.0
13   7.0 2021-01-16 17:23:44.120     Manga    4.0
14   8.0 2021-01-16 17:23:44.120  Ketchup     6.0
15   8.0 2021-01-16 17:23:44.120     Manga    4.0
16   9.0 2021-01-16 17:23:44.120      Alho    2.5
17   9.0 2021-01-16 17:23:44.120     Vinho   18.0
18  10.0 2021-01-16 17:23:44.120      Alho    2.5
19  10.0 2021-01-16 17:23:44.120     Vinho   18.0

In [5]:
# Unindo os DataFrames lado a lado 
pd.merge(df1,df2, 
         how='outer',      
         left_index=True,  # Confirma união pela esquerda 
         right_index=True, # Confirma união pela direita 
         sort=True)

,id_x,Data_x,Produto_x,Preco_x,id_y,Data_y,Produto_y,Preco_y
0,1.0,2021-01-16 17:23:44.120,Batata,2.0,1.0,2021-01-16 17:23:44.120,Oleo,15.0
1,2.0,2021-01-16 17:23:44.120,Cenoura,3.0,2.0,2021-01-16 17:23:44.120,Oleo,15.0
2,3.0,2021-01-16 17:23:44.120,Batata,2.0,3.0,2021-01-16 17:23:44.120,Manteiga,12.0
3,4.0,2021-01-16 17:23:44.120,Cenoura,3.0,4.0,2021-01-16 17:23:44.120,Manteiga,12.0
4,5.0,2021-01-16 17:23:44.120,Tomate,5.0,5.0,2021-01-16 17:23:44.120,Queijo,7.0
5,6.0,2021-01-16 17:23:44.120,Tomate,5.0,6.0,2021-01-16 17:23:44.120,Queijo,7.0
6,7.0,2021-01-16 17:23:44.120,Manga,4.0,7.0,2021-01-16 17:23:44.120,Ketchup,6.0
7,8.0,2021-01-16 17:23:44.120,Manga,4.0,8.0,2021-01-16 17:23:44.120,Ketchup,6.0
8,9.0,2021-01-16 17:23:44.120,Alho,2.5,9.0,2021-01-16 17:23:44.120,Vinho,18.0
9,10.0,2021-01-16 17:23:44.120,Alho,2.5,10.0,2021-01-16 17:23:44.120,Vinho,18.0

# Concatenação dos dados

## O Pandas oferece vários recursos para combinar facilmente objetos Series, DataFrame e Painel.  No exemplo a seguir, a função concat executa operações de concatenação ao longo de um eixo.

In [6]:
# União padrão, índices não são transformados!  
pd.concat([df1,df2])

     id                    Data   Produto  Preco
0   1.0 2021-01-16 17:23:44.120    Batata    2.0
1   2.0 2021-01-16 17:23:44.120   Cenoura    3.0
2   3.0 2021-01-16 17:23:44.120    Batata    2.0
3   4.0 2021-01-16 17:23:44.120   Cenoura    3.0
4   5.0 2021-01-16 17:23:44.120    Tomate    5.0
5   6.0 2021-01-16 17:23:44.120    Tomate    5.0
6   7.0 2021-01-16 17:23:44.120     Manga    4.0
7   8.0 2021-01-16 17:23:44.120     Manga    4.0
8   9.0 2021-01-16 17:23:44.120      Alho    2.5
9  10.0 2021-01-16 17:23:44.120      Alho    2.5
0   1.0 2021-01-16 17:23:44.120     Oleo    15.0
1   2.0 2021-01-16 17:23:44.120     Oleo    15.0
2   3.0 2021-01-16 17:23:44.120  Manteiga   12.0
3   4.0 2021-01-16 17:23:44.120  Manteiga   12.0
4   5.0 2021-01-16 17:23:44.120   Queijo     7.0
5   6.0 2021-01-16 17:23:44.120   Queijo     7.0
6   7.0 2021-01-16 17:23:44.120  Ketchup     6.0
7   8.0 2021-01-16 17:23:44.120  Ketchup     6.0
8   9.0 2021-01-16 17:23:44.120     Vinho   18.0
9  10.0 2021-01-16 17:23:44.120     Vinho   18.0

In [7]:
# União lateral, completa pelo eixo 1 (linhas)
pd.concat([df1,df2],axis=1,join='outer')

,id,Data,Produto,Preco,id,Data,Produto,Preco
0,1.0,2021-01-16 17:23:44.120,Batata,2.0,1.0,2021-01-16 17:23:44.120,Oleo,15.0
1,2.0,2021-01-16 17:23:44.120,Cenoura,3.0,2.0,2021-01-16 17:23:44.120,Oleo,15.0
2,3.0,2021-01-16 17:23:44.120,Batata,2.0,3.0,2021-01-16 17:23:44.120,Manteiga,12.0
3,4.0,2021-01-16 17:23:44.120,Cenoura,3.0,4.0,2021-01-16 17:23:44.120,Manteiga,12.0
4,5.0,2021-01-16 17:23:44.120,Tomate,5.0,5.0,2021-01-16 17:23:44.120,Queijo,7.0
5,6.0,2021-01-16 17:23:44.120,Tomate,5.0,6.0,2021-01-16 17:23:44.120,Queijo,7.0
6,7.0,2021-01-16 17:23:44.120,Manga,4.0,7.0,2021-01-16 17:23:44.120,Ketchup,6.0
7,8.0,2021-01-16 17:23:44.120,Manga,4.0,8.0,2021-01-16 17:23:44.120,Ketchup,6.0
8,9.0,2021-01-16 17:23:44.120,Alho,2.5,9.0,2021-01-16 17:23:44.120,Vinho,18.0
9,10.0,2021-01-16 17:23:44.120,Alho,2.5,10.0,2021-01-16 17:23:44.120,Vinho,18.0